
.GameBoard {
  background-color: #ccc;
}

.box {
  /* border: 1px solid #444; */
  padding: 1em 2em;
  background-color: white;
}

.box input {
  margin: 0 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.box button {
  margin: 0 1em;
}

.label {
  text-align: right;
}
.label::after {
  padding: 1em;
}

.wordText {
  font-weight: bold;
}

.invalidWord {
  color: red;
}

.invalid em, .valid em {
  padding-left: 1em;

}