.tile {
  padding: 1em;
  margin: 1em;
  border: thin black solid;
  border-radius: 10%;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}